.footer1{
    width: 100%;
    height: 629px;
    position: relative;
    overflow: hidden;
}
.footer1Bg{
    position: absolute;
    top: 0;
    width: 100%;
    height: 629px;
    object-fit: cover;
}
.footer1Txt{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -30%);
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.footerH1{
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -4%;
    margin-top: 21px;
    margin-bottom: 24px;
}

.footer1Txt div{
    margin-top: 48px;
}

/* footer 2 */
.footer2{
    width:100%;
    height: auto;
    background: #051601;
    padding: 94px 0;
}
.footer2Inner{
    width: 79%;
    margin: auto auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow: hidden;
}
.itemContacts{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.itemHeader{
    margin-bottom: 22px;
}
.item1 p{
    margin-top: 21px;
    margin-bottom: 22px;
    font-size: 14px;
}
.item2, .item3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.itemContacts li{
    display: flex;
    gap: 16px;
    align-items: center;
    list-style-type: none;
}
.footerSocials{
    display: flex;
    gap: 34px;
    margin-top: 32px;
}
.footerSocials img{
    width: 26px;
    height: 26px;
}



@media (max-width: 768px) {
    .footer1Txt{
        top: 40%;
        left: 50%;
        transform: translate(-50%, -30%);
        width: 90%;
    }
}
@media (max-width: 656px) {
    .footer2Inner{
        width: 79%;
        margin: auto auto;
        display: grid;
        grid-template-columns: 1fr;
        overflow: hidden;
        gap: 50px;
    }
    .item2{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .footerSocials{
        display: flex;
        gap: 34px;
        margin-top: 2px;
    }
}

@media (max-width: 576px) {
    .footer1Txt div{
        margin-top: 28px;
    }
}