.header{
  width: 100vw;
  height:522px ;
  overflow: hidden;
  position: relative;
}
.header img{
  width: auto;
  height: auto;
  object-fit: cover;
}
.headerTxt{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  text-align: center;
  width: 64.56%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
/*   border: solid 1px red; */
}
.headerTxt h1{
  margin-top: 8px;
  margin-bottom: 16px;

}
