.header{
  width: 100vw;
  height:862px ;
  overflow: hidden;
  position: relative;
}
.header img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.headerTxt{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  text-align: center;
  width: 64.56%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.headerTxt h1{
  margin-top: 8px;
  margin-bottom: 16px;
/*   line-height: 100%; */
}
.headerDescription{
  width: 63%;
  color: #f8ffe8;
}
.headerTxt div{
  margin-top: 60px;
}
.doubleLeft{
  display: flex;
  gap: 54px;
  align-items: center;
  position: relative;
  margin-top: -70px;
}
.doubleImg{
  width: 441px;
  height: 662px;
  object-fit: cover;
}
.bookTxt div{
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.serviceOffer{
  margin-top: 100px;
  border-top: 0.4px solid #7BA613 ;
}
.serviceOfferHeader{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 80px;
  gap: 95;
  margin-top: 56px;
  overflow: hidden;
}
.serviceOfferHeaderItem1{
  flex: 1;
  width: 27%;
}
.serviceOfferHeaderItem2{
  flex: 1;
  width: 37%;
}
.cardPack{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  margin-top: 48px;
}
.card{
  background: #FFFFFF;
  padding: 68px 20px 35px 20px;
}
.card .cardTitle{
  margin-top: 16px;
  margin-bottom: 14px;
}
.cardIcon{
  width: 32px;
  height: 27px;
  color: #7BA613;
}


.chooseUsDouble{
  margin-top: 107px !important;
  margin-bottom: 156px;
}
.chooseHeader{
  gap: 4px !important;
  margin-bottom: 34px;
}
.chooseTxt{
  width: 50% !important; 
}
.chooseCardPack{
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  gap: 26px 24px !important;
  margin-top: 20px !important;
}
.chooseCardHeader{
display: flex !important;
gap: 12px !important;
color: #7BA613;
flex-direction: row !important;
}
.ChooseDoubleImg{
  width: 465px;
  height: 588px;
  object-fit: cover;
}
@media (max-width: 992px) {
   .headerTxt{
    width: 80%;
  }
  .doubleLeft{
    align-items: flex-end;

  }
  .doubleImg, .ChooseDoubleImg{
      width: 50%;
      height: 100%;
  }
  .bookTxt div{
    margin-top: 22px;
    gap: 20px;
  }

}
@media (max-width: 768px) {
  .headerTxt{
    width: 90%;
  }
  .doubleLeft{
    gap: 24px;
    margin-top: -50px;
  }
  .doubleImg, .ChooseDoubleImg{
      width: 50%;
      height: 100%;
  }
  .bookTxt div{
    margin-top: 10px;
    gap: 10px;
  }
}
@media (max-width: 656px) {
  .headerDescription{
    width: 73%;
    color: #f8ffe8;
  }
  .doubleLeft{
    gap: 18px;
    margin-top: 0px;
  }
  .serviceOfferHeaderItem1{
    flex: 0;
    width: 100%;
  }
  .serviceOfferHeaderItem2{
    display: none;
    flex: 0;
    width: 100%;
  }
  .serviceOfferHeader{
    justify-content: space-between;
    gap: 0;
    margin-top: 56px;
    overflow: hidden;
  } 
  .cardPack{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-top: 48px;
  }
}

@media (max-width: 576px) {
   .headerTxt{
    width: 100%;
  }
  .doubleLeft{
    display: flex;
    flex-direction: column;
    gap: 54px;
    align-items: center;
    position: relative;
    margin-top: -80px;
  }
  .doubleImg, .ChooseDoubleImg{
      width: 100%;
      height: 100%;
  }
  .cardPack{
    grid-template-columns: 1fr;
  }
  .chooseCardPack{
    grid-template-columns: 1fr;
  }
  .ChooseDoubleImg{
    padding-left: 10%;
    padding-right: 10%;
  }
  .chooseTxt{
  width: 80% !important; 
}
}